{% extends "base.html" %}

{% block content %}
<div class="container-fluid !direction !spacing orm-center mt-5">
  <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|} mt-5">
    <div class="col  ">
        <div class="card cc" style="width:18rem;">
          <div class="card-body">
            <h5 class="card-title">PAYMENT METHOD</h5>
            <h6 class="card-subtitle mb-2 text-muted ">select method to pay with..</h6>
            <p class="card-text"> </p>
              <a class="btn btn-outline-success" href={%url "initiate-payment"%}>
                <h4>Online Payment</h4>Make Ticket Payment through secured Payment gateway
              </a>
              <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
                  Offline payment not availaible for the moment
                  <button type="button" class="btn-close btn-outline-warning" data-bs-dismiss="alert" aria-label="close"></button>
              </div>
              <a class="btn btn-outline-success mt-3 " href="">
                <h4>Offline Payment</h4>Make Ticket Payment through Ticket-Hive Agents
              </a>
           
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock content %}