{% extends "base.html" %}

{% block content %}
    <div class="container-fluid !direction !spacing orm-center my-5">

   
        <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|} orm-center">
         <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p>Do not activate Ticket till event day. If activated ticket will be deemed used </p>
    <button type="button" class="btn-close btn-outline-success" data-bs-dismiss="alert" aria-label="close"></button>
</div>
            {% for obj in context %}
            <!--div class="col-sm-12 col-lg-3 col-md-4  my-5"-->
                    {% if obj.name == user %}
                        <div class="card cc mx-2 my-2" style="width:18rem;">
                          <div class="card-body cc">
                            <h4 class="card-title btn btn-outline-warning">TICKET</h4>
                            {%if obj.verified == True%}
                                <h5 class="card-subtitle mb-2 text-muted ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                                  <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                                </svg>
                                </h5>
                            {%else %}
                            {%endif%}
                            <h5 class="card-subtitle mb-2">{{obj.name}}</h5>
                            <p class="card-text">Thanks For Purchasing Tickets with us . kindly provide this at the party checkpoint to get your access..Wish You a wondefully mode.</p>
                            <div class="col  ">
                              <h6>Date Paid -  <a class="btn-outline-success">{{obj.date_created}}</a></h6>
                              <h6>REF -  <a class="btn-outline-success">{{obj.ref}}</a></h6>
                              <h6>FROM -  <a class="btn-outline-success">{{obj.email}}</a></h6>
                              <h6>QUANTITY -  <a class="btn-outline-success">{{obj.quantity}}</a></h6>
                              <h6>TYPE -  <a class="btn-outline-success">{{obj.tictype}}</a></h6>
                              
                            </div>
                          </div>
                          <div class="card-footer">
                          <a class="btn btn-outline-primary d-flex justify-content-center" href="activate/{{obj.ref}}">Activate Ticket</a>
                          </div>
                        </div>
                    {% else %}
                        
                    {% endif %}
            <!--/div-->
            {% endfor %}
        </div>
    </div>
{% endblock content %}