{% extends "base.html"%}



{% block content %}


<div class="container-fluid mt-5 orm-center my-4">
  <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|} orm-center">
      <!--div class="col mx-4"-->
      {% if messages %}
      {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close btn-outline-success" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
      {% endfor %}
      {% else %}
      {% endif %}
        <div class="card cc shadow rounded" style="width:18rem;">
          <!--img src="" class="card-img-top" alt="..."-->
          <div class="card-body">
            <h5 class="card-title btn btn-primary">Login</h5>
            <!--h6 class="card-subtitle mb-2 text-muted ">Card subtitle</h6-->
            <p class="card-text">USERNAME  &nbsp;  :  &nbsp;&nbsp;&nbsp;&nbsp;@{{user.username}}</p>
            <p class="card-text">FIRST NAME &nbsp; : &nbsp;&nbsp; {{user.first_name}}</p>
            <p class="card-text">LAST NAME  &nbsp;: &nbsp;&nbsp; {{user.last_name}}</p>
            <p class="card-text">EMAIL &nbsp;:  &nbsp;&nbsp;{{user.email}}</p>
          </div>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <p>Only password modification is allowed...</p>
                  <button type="button" class="btn-close btn-outline-success" data-bs-dismiss="alert" aria-label="close"></button>
          </div>
          <div class="card-footer justify-content-end d-flex">
            <a class="btn btn-outline-success" href={% url "update_login"%}>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
            </a>
          </div>
        </div>
        
      <!--/div-->   
    </div>
  </div>    
{% endblock %}       
