{% extends "base.html" %}

{%block content%}
    <div class="container-fluid !direction !spacing mt-5 orm-center">

      <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-lg-center,|}">
        <div class="col  ">
            <div class="card cc my-5" style="width:18rem;">
              <div class="card-body">
                <h5 class="card-title"><a class="btn btn-sm btn-outline-primary" href={% url "sign_in" %}>SIGN-IN</a><a class="btn btn-sm btn-outline-primary mx-3" href={% url "sign_up"%}>SIGN-UP</a></h5>
                <br>
    {%if messages%}
      {%for message in messages%}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{message}}
        <button type="button" class="btn-close btn-outline-warning" data-bs-dismiss="alert" aria-label="close"></button>
        </div>
      {%endfor%}
    {%endif%}


    {%if form.errors%}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <p>An error occured processing your form...</p>
                <button type="button" class="btn-close btn-outline-warning" data-bs-dismiss="alert" aria-label="close"></button>
              </div>
{%endif%}


    
                {%block login%}

                {%endblock%}
              </div>
            </div>
        </div>
      </div>
    </div>
{%endblock %}       