{% extends "login.html" %}
{%load static%}

{%block login%}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <p>Note&nbsp;&nbsp; :&nbsp;&nbsp;Due to system security and data security </p>
    <p>our system forbid login detail modification </p>
    <p>Exception to password</p>
    <button type="button" class="btn-close btn-outline-success" data-bs-dismiss="alert" aria-label="close"></button>
</div>
<form action={%url 'sign_up'%} method=POST>{%csrf_token%}

    {{form.as_p}}
    <br/>
    <button type="submit" class="btn btn-primary mt-4">signup</button>
</form>
{%endblock%}